.sidebar {
  &-wrapper {
    min-width: 300px;
    align-self: flex-start;
    //min-height: 200px;
    max-height: 50vh;
    background-color: #fff;
    overflow-y: auto;
  }
}

.table {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  th {
    border: 1px solid #000000;
  }

  td {
    border: 1px solid #000000;
    text-align: center;
  }
}