.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(149, 158, 97, 0.5);
}

.cart {
  width: 750px;
  height: 500px;
  background-color: #fff;
  overflow-y: auto;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-style: ridge;
  border-width: 1px;
  border-color: #000000;
  border-collapse: collapse;
  &-name {
    width: 40%;
  }
  &-descr {
    width: 40%;
  } &-photo {
      width: 10%;
    }
  &-abv {
    width: 10%;
  }

  &-wrapper {
    position: relative;
    padding-top: 2rem;
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid #000000;
  }

  th {
    border: 1px solid #000000;
  }

  td {
    border: 1px solid #000000;
    text-align: center;

    & > img {
      display: inline-block;
      width: 100%;
      max-width: 30px;
      height: 50px;
      object-fit: contain;
    }
  }

}

.emptyCart {
  text-align: center !important;
}